<h1><b>How to perform read and write operations with an excel(.xlsx) file using Pandas</b></h1>

To get started with this tutorial, we need to install  a third-party dependency 'xlrd'<br>
try using pip to install as:-<br>
1) for windows:<br>
        pip install xlrd<br> 
        or if it doesn't work then, you can write like<br>
        py -m pip install --user xlrd<br>
2) for linux:<br>
        sudo apt-get update<br>
        sudo apt-get upgrade<br>
        sudo apt-get install python-xlrd<br>
3) for mac:<br>
        either easy_install xlrd<br>
        or pip install xlrd<br>
        
***for more information visit these links:<br>
    official python documentation - https://packaging.python.org/tutorials/installing-packages/<br>
    official PyPi xlrd - https://pypi.org/project/xlrd/<br>
    official xlrd docs - https://xlrd.readthedocs.io/en/latest/installation.html<br>
    
    Yet another link may be useful for mac users 
    -- https://gis.stackexchange.com/questions/181858/installing-python-xlw-and-xlrd-libraries-for-qgis-on-mac-osx-with-python-2-6

In [2]:
import pandas as pd
import xlrd

In [3]:
myDF = pd.read_excel("budget.xlsx",sheet_name="budget_analysis")
myDF

,My Budget Sheet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bills,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,Total
3,Mobile,249,279,249,249,249,279,299,299,279,299,249,249,3228
4,LPG,600,644,659,854,880,750,784,775,780,820,850,697,9093
5,Transport,1000,850,860,840,950,921,954,895,875,862,872,845,10724
6,Tuition Fee,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,10416.7,125000
7,Entertainment,259,459,550,359,398,540,520,514,574,544,420,440,5577
8,Groceries,423,450,480,456,475,412,469,485,425,472,416,461,5424
9,Total,12947.7,13098.7,13214.7,13174.7,13368.7,13318.7,13442.7,13384.7,13349.7,13413.7,13223.7,13108.7,NaN